@font-face {
  font-family: "Zvezda";
  src: url("./assets/fonts/zvezda_NHZDN/Zvezda NHZDN Bold Italic.ttf");
}
@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}
html {
  width: 100%;
  height: 100%;
}

body {
  z-index: -2;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
}

a {
  all: unset;
}

#app {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  width: 100%;
  height: 5%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.main-first {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 90vh;
}
.main-first__text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 90%;
}
.main-first__card-block {
  padding: 20px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 90%;
}
.main-second {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 90vh;
}
.main-second__stack-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: auto;
}
.main-second____text_block {
  width: 40%;
  height: auto;
}

.card {
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  height: 390px;
  border-radius: 10px;
  background-color: #D9D9D9;
}
.card-img {
  margin: 0 0 10px 0;
  width: 240px;
  height: 280px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
.card-text {
  all: unset;
  padding: 0 0 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Rubik;
  font-weight: 600;
  font-size: 22px;
}

.stacks {
  position: relative;
  width: 300px;
  height: 300px;
}

.stack_center {
  top: 50%;
  left: 50%;
}
.stack_left_up {
  top: 5%;
  left: 5%;
}
.stack_left_down {
  top: 95%;
  left: 5%;
}
.stack_right_up {
  top: 5%;
  left: 95%;
}
.stack_right_down {
  top: 95%;
  left: 95%;
}

.tilt-img {
  position: absolute;
  width: 40px;
  height: 40px;
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
  transform-style: preserve-3d;
  border-radius: 20px;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 11px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
}

.icon:nth-child(2n) {
  animation: keyframes1 0.3s infinite;
  transform-origin: 50% 10%;
}

.icon:nth-child(2n-1) {
  animation: keyframes2 0.3s infinite alternate;
  transform-origin: 30% 5%;
}

@keyframes keyframes1 {
  0% {
    transform: rotate(-1deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: rotate(1.5deg);
    animation-timing-function: ease-out;
  }
}
@keyframes keyframes2 {
  0% {
    transform: rotate(1deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: rotate(-1.5deg);
    animation-timing-function: ease-out;
  }
}
.page {
  width: 100%;
  height: 100%;
}

.background-effect {
  z-index: -1;
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 10px;
  box-shadow: 0px 0px 100px 58px rgba(50, 72, 255, 0.25);
}

.copy-block {
  z-index: 1;
  position: absolute;
  display: none;
}

.text-gradient {
  background-image: linear-gradient(to right, #a8f3f3, #eb04f0);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.opacity-25 {
  opacity: 0.25;
}

.text-default-color {
  color: #79c1c1;
}

.pointer {
  cursor: pointer;
}

.a-nav {
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
}
.a-nav:hover {
  font-size: 14px;
}
.a-nav-active {
  font-size: 14px;
}
.a-nav-img-uncheck {
  display: block;
}
.a-nav-img-check {
  display: none;
}

.h1 {
  font-size: 128px;
  font-family: Rubik;
  font-weight: 200;
}

.h2 {
  font-size: 78px;
  font-family: Rubik;
  font-weight: 400;
}

.h3 {
  font-size: 36px;
  font-family: Rubik;
  font-weight: 300;
}

.p {
  font-size: 24px;
  font-family: Raleway;
  font-weight: 200;
}

.h1-y2k {
  margin: 0 0 24px 0;
  font-family: Zvezda;
  font-size: 42px;
}

.h1-img {
  width: 96px;
  height: 46px;
}

.h3-header {
  margin: 0 0 12px 0;
  font-family: Rubik;
  font-size: 16px;
}

.p-read {
  font-family: Raleway;
  font-size: 12px;
}

.p-footer {
  font-family: Raleway;
  font-size: 10px;
}

@media screen and (max-width: 525px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .main-left {
    position: static;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50vh;
  }
  .main-left__text-block {
    width: 100%;
    height: auto;
    padding: 0 0 0 30px;
  }
  .main-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .main-right__text-block {
    width: 90%;
    height: auto;
    padding: 0 0 0 30px;
  }
  .nav-block {
    width: 90%;
    height: 50%;
  }
  .nav-block__bar {
    width: 140px;
  }
  .nav-block__img {
    width: 240px;
    height: 240px;
  }
  .stack-block {
    width: 120px;
    height: 120px;
  }
}/*# sourceMappingURL=App.css.map */